@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  width: 80%;
  left: 10%;
  height: 65vh;
  cursor: pointer;
}

#board {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 10px 0 10px;
}

#board > #board-left, #board > #board-right {
  top: 0;
  bottom: 0;
  left: 0;
}

#board-left > input, #board-right > input, #board-left > textarea, #board-right > textarea {
  width: 90%;
  margin: 0 0 10px 0;
  resize: none;
}

@media screen and (max-width: 600px) {
  #board {
    display: block;
  }

  #board > #board-left, #board > #board-right {
    width: 100%;
    padding: 0 20px 0 20px;
  }
}

@media screen and (min-width: 601px) {
  #board {
    display: flex;
  }

  #board > #board-left {
    width: 30%;
    padding: 0 10px 0 50px;
  }

  #board > #board-right {
    width: 70%;
    padding: 0 50px 0 10px;
  }
}
